body {
}

.hero h1 {
  color: #2c3e50;
}

h1 {
  color: #ef3f7a;
}

h2, h3, h4, h5 {
  color: #035785;
}

.home .feature h2 {
  color: #035785 !important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
