/* @TODO REPLAE THESE WITH REAL COLOR VARS FROM PALATTE.STYL */
.hero h1 {
  color: $landoGrey;
}

h1 {
  color: $tandemPink;
}

h2, h3, h4, h5 {
  color: $textColor;
}

.home .feature h2 {
  color: $landoBlue !important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
