// .vuepress/style.styl, your extra styles.

@font-face
  font-family 'AvenirNext'
  src url('/fonts/AvenirNext-Heavy.woff') format('woff'), url('/fonts/AvenirNext-Heavy.woff2') format('woff2')
  font-style normal
  font-display swap
  font-weight 900

@font-face
  font-family 'AvenirNext'
  src url('/fonts/poppins-v12-latin-600.eot')
  src url('/fonts/poppins-v12-latin-600.woff') format('woff'), url('/fonts/poppins-v12-latin-600.woff2') format('woff2')
  font-style normal
  font-display swap
  font-weight 300

@font-face
  font-family GalaxieCopernicus
  src url("/fonts/GalaxieCopernicus-Book.eot")
  src url("/fonts/GalaxieCopernicus-Book.woff") format("woff"),url("/fonts/GalaxieCopernicus-Book.woff2") format("woff2")
  font-style normal
  font-display swap
  font-weight 300

@font-face
  font-family GalaxieCopernicus
  src url("/fonts/GalaxieCopernicus-Book.eot")
  src url("/fonts/GalaxieCopernicus-Book.woff") format("woff"),url("/fonts/GalaxieCopernicus-Book.woff2") format("woff2")
  font-style normal
  font-display swap
  font-weight 300

@font-face
  font-family GalaxieCopernicus
  src url("/fonts/GalaxieCopernicus-Medium.eot")
  src url("/fonts/GalaxieCopernicus-Medium.woff") format("woff"),url("/fonts/GalaxieCopernicus-Medium.woff2") format("woff2")
  font-style normal
  font-display swap
  font-weight 400

body
  { bodyType }
  line-height 1.25
  color $textColor

h1,
h2,
h3,
h4
  color $landoGrey
  { displayType }
  font-size typeScale.d
  border 0
  &.post-title
    line-height 1.125
  a
    font-weight inherit
h2
  font-size typeScale.e
h3
  font-size typeScale.f
h4
  font-size typeScale.g

a
  transition all 0.2s

a.header-anchor
  padding-right 0

article
  header
    all unset
  p, ul, ol
    line-height 1.75

.content-wrapper
  padding 0
  margin 0 auto
  min-height calc(100vh - 20px - 60px - 100px)
  @media (min-width: $MQMobile)
    padding 0
    min-height calc(100vh - 80px - 60px - 160px)

.content-wrapper-tandem
  @extend .content-wrapper
  max-width $MQSmall
  padding: 10rem 2rem 5rem 2rem
  @media (min-width: $MQMobile)
    padding: 13rem 5rem 5rem 5rem

.content-wrapper-home
    max-width none !important
    margin 0
    @media (min-width: $MQLarge)
      max-width none !important

.small
  font-size typeScale.g

.load-more
  { tandemButton }
  display block
  width 100%
  text-align center
  margin-top 2rem
  margin-bottom 2rem

.custom-block
  { customBlock }
  &.point
    { cb_point }
  &.big, &.medium, &.big > p
    padding 0
    margin 0
    { displayType }
    line-height 1
    font-weight 300
    font-size typeScale.d
  &.big > p:first-child
    font-size typeScale.b
  &.medium
    font-size typeScale.c
  &.caption
    background-color $lightGrey
    padding .1em 1em
    p
      { displayType }
      color $textColor
      font-size typeScale.i
      font-weight 300
  &.thumbnail
    border 1px solid $lightGrey
    padding 1em
    margin 2em 0
    img
      width 100%
  &.important, &.byline
    ol, ul
      margin 1em 1em
      li
        margin-bottom 1rem
  &.byline
    p
      font-style italic
      margin 2em 0
      line-height 2
      color black
  &.col-wrapper, &.col-full, &.col-half, &.col-third
    width 100%
    justify-content space-between
  &.col-full, &.col-half, &.col-third
    >:first-child
      { displayType }
  &.warning, &.tip, &.danger, &.error, &.info
    background-color $lightGrey
    padding 2rem
    .custom-block-title
      text-transform uppercase
  &.warning
    background-color mix($lightGrey, yellow, 70%)
  &.danger, &.error
    background-color mix($lightGrey, red, 80%)
  &.col-wrapper
    @media (min-width: $MQMobile)
      display flex
  &.col-full
    @media (min-width: $MQMobile)
      flex 0 0 100%
      max-width 100%
  &.col-half
    @media (min-width: $MQMobile)
      flex 0 0 49%
      max-width 49%
  &.col-third
    @media (min-width: $MQMobile)
      flex 0 0 32%
      max-width 32%
